@font-face {
  font-family: "TT Travels";
  font-weight: 100;
  src: url("~@/assets/fonts/tt-travels/tt-travels-thin.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 100;
  src: url("~@/assets/fonts/tt-travels/tt-travels-thin-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 200;
  src: url("~@/assets/fonts/tt-travels/tt-travels-extra-light.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 200;
  src: url("~@/assets/fonts/tt-travels/tt-travels-extra-light-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 300;
  src: url("~@/assets/fonts/tt-travels/tt-travels-light.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 300;
  src: url("~@/assets/fonts/tt-travels/tt-travels-light-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 400;
  src: url("~@/assets/fonts/tt-travels/tt-travels-regular.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 400;
  src: url("~@/assets/fonts/tt-travels/tt-travels-regular-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 500;
  src: url("~@/assets/fonts/tt-travels/tt-travels-medium.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 500;
  src: url("~@/assets/fonts/tt-travels/tt-travels-medium-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 600;
  src: url("~@/assets/fonts/tt-travels/tt-travels-demi-bold.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 600;
  src: url("~@/assets/fonts/tt-travels/tt-travels-demi-bold-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 700;
  src: url("~@/assets/fonts/tt-travels/tt-travels-bold.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 700;
  src: url("~@/assets/fonts/tt-travels/tt-travels-bold-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 800;
  src: url("~@/assets/fonts/tt-travels/tt-travels-extra-bold.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 800;
  src: url("~@/assets/fonts/tt-travels/tt-travels-extra-bold-italic.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-weight: 900;
  src: url("~@/assets/fonts/tt-travels/tt-travels-black.ttf");
}

@font-face {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 900;
  src: url("~@/assets/fonts/tt-travels/tt-travels-black-italic.ttf");
}
